SECRET_KEY=hash_example_to_decode
ALGORITHM=HS256
AUTH_USERNAME=user
AUTH_PASSWORD=123456
# http://qdrant:6333 se usar docker-compose, http://localhost:6333 se rodar fastapi fora do docker
QDRANT_URL=http://qdrant:6333
QDRANT_API_KEY=your_qdrant_api_key
QDRANT__SERVICE__API_KEY=your_qdrant_api_key
ENV=development
