version: '3.9'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    environment:
      QDRANT__SERVICE__API_KEY: "aaeeb6c3364c1fffb24593338cfee39f"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: unless-stopped
